
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.body {
  background: linear-gradient(to right,
          white 0%,
          white 70%,
          rgb(246, 245, 245) 70%,
          rgb(246, 245, 245) 100%);

}


.imagecontainer1 {
  margin-left: 2%;
  width: 185px;
  height: 44px;
  display: flex;
  float: left;
  margin-top: -7%;
}

.imagecontainer2 {
  margin-left: 15%;
}


.h1{
  margin: 7% 0 0 27%;
  font-family: 'Poppins';
  color: #3C3C3C;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  display: flex;
  word-wrap: break-word;
}

.box1{
  margin-top: -50%;
  margin-left: 78%;
}

.boxsign{
  margin-top: 15%;
  
}

.create3{
  font-family: 'Poppins';
  color: #3C3C3C;
  line-height: 45px;
  font-weight: 500;
  margin-top: 35%;
  font-size: 30px;
  word-wrap: break-word;
}

.input[type=text],
.input[type=password] {
    width: 80%;
    margin: 10px 0;
    padding: 19px 25px;
    columns: #646464;
    display: inline-block;
    background-color: #ECF6FE;
    border-top: 0px rgb(233, 228, 228) ;
    border-right: 0px rgb(233, 228, 228);
    border-left: 0px rgb(233, 228, 228);
    border-bottom: 2px solid #2065D1;
    box-sizing: border-box;
}

.input[type=text]:focus,
.input[type=password]:focus {
    outline: none; /* Remove the default focus outline */
    background-color: #ECF6FE; /* Background color when focused */
    border-bottom: 2px solid #2065D1; /* Border color when focused */
}


.customlabel{
  color: #646464;
  font-family: 'Poppins';
  line-height: 24px;
  font-size: 16px;
  width: 100%;
  font-weight: 300;
  word-wrap: break-word;
}


.mybutton1 {
  background-color: rgb(72, 113, 236);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 80%;
  margin-top: 8%;
  border-radius: 4px;
}

.signup{
  margin-top: 3%;
  margin-left:20%;
  font-weight: 300;
  line-height: 18px;
  text-decoration: none;
  transition: border-bottom 0.3s;
  color: #646464;
  font-size: 12px;
  font-family: 'Poppins';
  word-wrap: break-word;
}

.mybutton2{
  background-color: rgb(246, 245, 245);
  color: #2065D1;
  border: none;
  cursor: pointer;
  /* font-size: 120%; */

  
  font-size: 12px;
  font-family: 'Poppins';
  font-weight: 500;
  word-wrap: break-word;
}


.input[type='radio'] {
  width: 20px;
  height: 20px;
  color: #646464;
}

.radiolabel {
  color: #646464; /* Change the color to your desired color */
  margin-right: 30px;
  font-size: 120%;
}


.one:link {
  color:#0000ff ;
  margin-left: 15%;
   
  font-size: 12px;
  font-family: 'Poppins';
  font-weight: 500;
  word-wrap: break-word;
}
  
  .radio{
      cursor: pointer;
      margin-top: 2%;
  }
 


