@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


.box{
  background-color: white;
}


.img {
    float: left;
    padding: 1% 1%;
    margin-left: 2%;
  }
  
  
.png{
  display: flex;
  flex-direction: column;
  float: left;
  font-family: 'Poppins', sans-serif;
  
}
.logobutton {
    background-color: white;
    color:#637381;
    float: left;
    margin-top: 5%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
  }
  
  /* Style the button text */
  .logobutton span {
    margin-left: 10px;
    /* Add space between the logo and text */
  }
  
  .logobutton:hover {
    background-color: #0056b3;
    color: #fff;

  }
  

  
  
  .vertical{
    position: relative;
    height: 100vh; /* 100% of viewport height */
    border-left: 1px solid #637381; /* Adjust color and width as needed */
    float: left;
    
  }
  
  .setting{
    float: right;
    background-color: white;
  }
  
  .stngbtn1{
    background-color: white;
    color:#637381;
    padding: 1px 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 10px;
    height: 20px;
  }
  .stngbtn2{
    background-color: white;
    color:#637381;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
  }
  
  .stngbtn3{
    background-color: white;
    color:#637381;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
  }
  
  
  .topnav input[type=text] {
    border: 1px solid rgb(26, 25, 25);
    border-radius: 25px;
    width: 35%;
    padding: 1% 3%;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1%;
    margin-left: 1%;
    border: 1px solid #DDDDDD
  }

  .container{
      /* border: 1px solid black; */
      border: 1px solid #DDDDDD;
      border-radius: 8px;
      width: 85%;
      /* Adjust the width as needed */
      height: 800px;
      /* Adjust the height as needed */
      padding: 10px;
      margin-left: 8%;
      margin-top: 3%;
      font-size: 2rem;
      font-weight: 500;
      line-height: 21px;
      font-family: 'Poppins', sans-serif;
      background-color: white;
      box-shadow: 0px 0px 3px 3% rgba(0, 0, 0, 0.1);
  }

  
.permission{
  font-size: 15px;
  background-color: #DFF3EA;
  width: 6%;
  border-radius: 3px;
  padding-left: .5%;
  margin-top: 1%;
  margin-left: 10%;
  color: #278772;
   font-family: 'Poppins';
   font-weight: 500;
   word-wrap: break-word

}

 .edit{
  margin-top: 1%;
  margin-left: 3%;
  color: #3C3C3C; 
}

.vault{
  color: #637381;
  margin-top: 4.2%;
  margin-left: 3%;
  display: flex;
  color: #637381;
  font-size: 18px;
  font-family: 'Poppins';
  font-weight: 400;
  word-wrap: break-word;
}

.p1{
  background-color: #ECF6FE;
  color: #3C3C3C;
  width: 25%;
  height: 22%;
  border-radius: 1px;
  /* font-size: 25px; */
  margin-left: 3%;
  margin-top: 2%;
  padding: 15px;
  display: flex;
  font-size: 18px;
  font-family: 'Poppins';
  font-weight: 400;
  word-wrap: break-word;
}

.principal{
  color: #637381;
  margin-top: -6.2%;
  margin-left: 38%;
  display: flex;
  color: #637381;
  font-size: 18px;
  font-family: 'Poppins';
  font-weight: 400;
  word-wrap: break-word;
}

.p2{
  background-color: #ECF6FE;
  color: #3C3C3C;
  width: 25%;
  height: 22%;
  border-radius: 1px;
  /* font-size: 25px; */
  margin-left: 38%;
  margin-top: 2%;
  padding: 15px;
  display: flex;
  font-size: 18px;
font-family: 'Poppins';
font-weight: 400;
word-wrap: break-word;
}

.tenure{
  color: #637381;
  margin-top: -6.2%;
  margin-left: 73%;
  display: flex;
  color: #637381;
  font-size: 18px;
  font-family: 'Poppins';
  font-weight: 400;
  word-wrap: break-word;
}

.p3{
  background-color: #ECF6FE;
  color: #3C3C3C;
  width: 25%;
  height: 22%;
  /* font-size: 25px; */
  border-radius: 1px;
  margin-left: 73%;
  margin-top: 2%;
  padding: 15px;
  display: flex;
  font-size: 18px;
font-family: 'Poppins';
font-weight: 400;
word-wrap: break-word;
}


.rate{
  color: #637381;
  margin-top: 2%;
  margin-left: 3%;
  display: flex;
  color: #637381;
  font-size: 18px;
  font-family: 'Poppins';
  font-weight: 400;
  word-wrap: break-word;
}

.p4{
  background-color: #ECF6FE;
  color: #3C3C3C;
  width: 25%;
  height: 22%;
  border-radius: 1px;
  /* font-size: 25px; */
  margin-left: 3%;
  margin-top: 2%;
  padding: 15px;
  display: flex;
  font-size: 18px;
font-family: 'Poppins';
font-weight: 400;
word-wrap: break-word;
}

.assets{
  color: #637381;
  margin-top: -6.5%;
  margin-left: 38%;
  display: flex;
  color: #637381;
  font-size: 18px;
  font-family: 'Poppins';
  font-weight: 400;
  word-wrap: break-word;
}

.p5{
  background-color: #ECF6FE;
  color: #3C3C3C;
  width: 25%;
  height: 22%;
  border-radius: 1px;
  /* font-size: 25px; */
  margin-left: 38%;
  margin-top: 2%;
  padding: 15px;
  display: flex;
  font-size: 18px;
font-family: 'Poppins';
font-weight: 400;
word-wrap: break-word;
}

.repayment{
  color: #637381;
  margin-top: -6.5%;
  margin-left: 73%;
  display: flex;
  color: #637381;
  font-size: 18px;
  font-family: 'Poppins';
  font-weight: 400;
  word-wrap: break-word;
}

.p6{
  background-color: #ECF6FE;
  color: #3C3C3C;
  width: 25%;
  height: 22%;
  border-radius: 1px;
  margin-left: 73%;
  /* font-size: 25px; */
  margin-top: 2%;
  padding: 15px;
  display: flex;
  font-size: 18px;
font-family: 'Poppins';
font-weight: 400;
word-wrap: break-word;
}

.payment{
  color: #637381;
  margin-top: 2%;
  margin-left: 3%;
  display: flex;
  color: #637381;
  font-size: 18px;
  font-family: 'Poppins';
  font-weight: 400;
  word-wrap: break-word;
}

.p7{
  background-color: #ECF6FE;
  color: #3C3C3C;
  width: 25%;
  height: 22%;
  border-radius: 1px;
  margin-left: 3%;
  margin-top: 2%;
  padding: 15px;
  /* font-size: 25px; */
  display: flex;
  font-size: 18px;
font-family: 'Poppins';
font-weight: 400;
word-wrap: break-word;
}

.investor{
  color: #637381;
  margin-top: -6%;
  margin-left: 38%;
  display: flex;
  color: #637381;
  font-size: 18px;
  font-family: 'Poppins';
  font-weight: 400;
  word-wrap: break-word;
}

.p8{
  background-color: #ECF6FE;
  color: #3C3C3C;
  width: 25%;
  height: 22%;
  border-radius: 1px;
  margin-left: 38%;
  margin-top: 2%;
  padding: 15px;
  /* font-size: 25px; */
  display: flex;
  font-size: 18px;
font-family: 'Poppins';
font-weight: 400;
word-wrap: break-word;
}

.borrower{
  color: #637381;
  margin-top: -6%;
  margin-left: 73%;
  display: flex;
  color: #637381;
  font-size: 18px;
  font-family: 'Poppins';
  font-weight: 400;
  word-wrap: break-word;
}

.p9{
  background-color: #ECF6FE;
  color: #3C3C3C;
  width: 25%;
  height: 22%;
  border-radius: 1px;
  margin-left: 73%;
  /* font-size: 25px; */
  margin-top: 2%;
  padding: 15px;
  display: flex;
  font-size: 18px;
font-family: 'Poppins';
font-weight: 400;
word-wrap: break-word;
}


.period{
  color: #637381;
  margin-top: 2%;
  margin-left: 3%;
  display: flex;
  color: #637381;
  font-size: 18px;
  font-family: 'Poppins';
  font-weight: 400;
  word-wrap: break-word;
}

.p10{
  background-color: #ECF6FE;
  color: #3C3C3C;
  width: 25%;
  height: 22%;
  border-radius: 1px;
  margin-left: 3%;
  margin-top: 2%;
  padding: 15px;
  /* font-size: 25px; */
  display: flex;
  font-size: 18px;
font-family: 'Poppins';
font-weight: 400;
word-wrap: break-word;
}

.spilt{
  color: #637381;
  margin-top: -6%;
  margin-left: 38%;
  display: flex;
  color: #637381;
  font-size: 18px;
  font-family: 'Poppins';
  font-weight: 400;
  word-wrap: break-word;
}

.p11{
  background-color: #ECF6FE;
  color: #3C3C3C;
  width: 25%;
  height: 22%;
  border-radius: 1px;
  margin-left: 38%;
  margin-top: 2%;
  padding: 15px;
  /* font-size: 25px; */
  display: flex;
  font-size: 18px;
font-family: 'Poppins';
font-weight: 400;
word-wrap: break-word;
}

.grace{
  color: #637381;
  margin-top: -6%;
  margin-left: 73%;
  display: flex;
  color: #637381;
  font-size: 18px;
  font-family: 'Poppins';
  font-weight: 400;
  word-wrap: break-word;
}

.p12{
  background-color: #ECF6FE;
  color: #3C3C3C;
  width: 25%;
  height: 22%;
  border-radius: 1px;
  margin-left: 73%;
  /* font-size: 25px; */
  margin-top: 2%;
  padding: 15px;
  display: flex;
  font-size: 18px;
font-family: 'Poppins';
font-weight: 400;
word-wrap: break-word;
}




.mybutton1 {
  background-color: rgb(72, 113, 236);
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 12%;
  font-size: large;
  margin-top: 3%;
  margin-left: 3%;

}


.addbtn{
  margin-left: 80%;
  background-color: white;
  border: 1px solid white;
  padding-left: 5px;
  padding-right: 8px;
  border-radius: 2px;
  color: blue;
font-size: 11px;
font-family: 'Poppins';
font-weight: 500;
word-wrap: break-word;

}

