@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.box{
  background-color: white;

}


.img {
    float: left;
    padding: 1% 1%;
    margin-left: 2%;
  }
  
  
.png{
  display: flex;
  flex-direction: column;
  float: left;
  font-family: 'Poppins', sans-serif;
  
}

.logobutton {
  background-color: white;
  color:#637381;
  float: left;
  margin-top: 5%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  /* Smooth transition on hover */
  display: flex;
  /* Display button content in a flex container */
  align-items: center;
}

/* Style the button text */
.logobutton span {
  margin-left: 10px;

}
.buttoncontent{
  margin-left: 5%;
}

.das{
  margin-left: -20%;
}


/* Hover effect for the button */
.logobutton:hover {
  background-color: #0056b3;
  /* Change the background color on hover */
  color: #fff;
  /* Change the text color on hover */
}

  
  
  .vertical{
    position: relative;
    height: 100vh; /* 100% of viewport height */
    border-left: 1px solid #637381; /* Adjust color and width as needed */
    float: left;
    
  }
  
  .setting{
    float: right;
    background-color: white;
  }
  
  .stngbtn1{
    background-color: white;
    color:#637381;
    padding: 1px 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 10px;
    height: 20px;
  }
  .stngbtn2{
    background-color: white;
    color:#637381;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
  }
  
  .stngbtn3{
    background-color: white;
    color:#637381;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
  }
  
  
  .topnav input[type=text] {
    border: 1px solid rgb(26, 25, 25);
    border-radius: 25px;
    width: 35%;
    padding: 1% 3%;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1%;
    margin-left: 1%;
    border: 1px solid #DDDDDD
  }

  .container{
      /* border: 1px solid black; */
      border: 1px solid #DDDDDD;
      border-radius: 8px;
      width: 85%;
      /* Adjust the width as needed */
      height: 700px;
      /* Adjust the height as needed */
      padding: 10px;
      margin-left: 8%;
      margin-top: 3%;
      font-size: 2rem;
      font-weight: 500;
      line-height: 21px;
      font-family: 'Poppins', sans-serif;
      background-color: white;
      box-shadow: 0px 0px 3px 3% rgba(0, 0, 0, 0.1);
  }

 .edit{
  margin-top: 1%;
  margin-left: 3%;
  color: #3C3C3C; 
}